.vercel
# Ignore unnecessary LFS files
server/node_modules/@tensorflow/tfjs-node/deps/lib/tensorflow.dll
server/node_modules/nodemon/bin/windows-kill.exe
# Node.js dependencies
node_modules/
server/node_modules/

# Python virtual environments
venv/
.venv/
env/

# Vercel deployment folder
.vercel/

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Build directories
dist/
build/

# Temporary files
*.tmp
*.temp
*.swp
*.swo
